{
  "rules": {
    "selector-class-pattern": "^[0-9a-z\\-]+$",
    "block-opening-brace-space-before": "always",
    "rule-empty-line-before": [
      "always",
      {
        "except": [
          "after-single-line-comment",
          "first-nested"
        ]
      }
    ],
    "order/properties-alphabetical-order": true
  },
  "extends": [
    "stylelint-config-recommended-scss",
    "stylelint-config-css-modules",
    "stylelint-config-prettier"
  ],
  "plugins": [
    "stylelint-order"
  ]
}